*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    min-height: 100vh;
    width: 100%;
}

#top{
    width: 100%;
    min-height: 60vh;
    background-image: url(bg.avif);
    background-size: cover;
    background-position: 50% 60%;
}

#overlay{
    position: relative;
    min-height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.341);
}

#text{
    width: 100%;
    position: absolute;
    bottom: 20%;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#textright{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#textright p{
    font-size: 15px;
    width: 40%;
    color: #fff;
}

#textright i{
    color: #fff;
}

#text h1{
    font-size: 6vw;
    color: #fff;
    font-weight: 400;
}

#bottom{
    width: 100%;
    min-height: 40vh;
    display: flex;
}

#b1{
    width: 25%;
    min-height: inherit;
    background: #fff;
    padding: 30px;
}
#b1 p{
    font-size: 14px;
    margin-top: 20px;
}
#b2{
    width: 25%;
    min-height: inherit;
    background-image: url(b2.avif);
    background-size: cover;
    background-position: 0 30%;
}
#b3{
    width: 20%;
    min-height: inherit;
}
#b3top{
    width: 100%;
    min-height: 20vh;
    background: red;
    color: #fff;
    padding: 20px;
}
#b3top p{
    margin-top: 8px;
    font-size: 12px;
}
#b3bottom{
    width: 100%;
    min-height: 20vh;
    background-image: url(b3.avif);
    background-size: cover;
    background-position: 10% 20%;
}
#b4{
    width: 30%;
    min-height: inherit;
    padding: 30px;
    background: #444;
    color: #fff;
}

.notf{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.notf #photo{
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
}

.notf p{
    width: 80%;
    font-size: 14px;
}

@media(max-width: 500px){
    #overlay #text{
        flex-direction: column;
        align-items: flex-start;
    }

    #text h1{
        margin-top: 2px;
        font-size: 10vw;
    }

    #overlay #text #textright{
        flex-direction: column;
        align-items: flex-start;
    }

    #overlay #text #textright p{
        width: initial;
        margin-top: 20px;
    }

    #overlay #text #textright #icons{
        margin-top: 30px;
    }
    #bottom {
        min-height: 20vh;
        flex-direction: column;
    }
    #b1{
        width: 100%;
    }
    #b2{
        width: 100%;
        min-height: 40vh;
    }
    #b3{
        width: 100%;
    }
    #b3bottom{
    min-height: 40vh;
}
    #b4{
        width: 100%;
    }
}